body {
 background-color:  #d6d2bb  ;  
  font-family: 'Neutra-Text-Demi-Alt', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Neutra-Text-Demi-Alt';
  src: url('./Assets/fonts/Neutra\ Text\ Demi\ Alt.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

header{
  color: aliceblue;
  background-color: #1e8a9d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.hero {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

#video-cafe {
  position: absolute;
  width: 100%;
  height: 80%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
}

.texto-superpuesto {
  position: relative;
  z-index: 1;
  color: white;
  font-family: 'Neutra-Text-Demi-Alt', Arial, sans-serif;
}

h2{
  color: #3b3431;
}

p {
  color: white;
  font-size: 20px;
}


nav ul{
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 0;
  flex: 1;
}

.grid-item {
  font-weight: bold;
  text-shadow: 1px 1px 0 whitesmoke;
  color: #3b3431;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  text-align: center;
  font-family: 'Neutra-Text-Demi-Alt';
  
}

.grid-item a {
  color: #3b3431; 
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  nav ul {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }
}

.lublos-logo {
  width: 150px;
  
}

footer {
  padding: 10px;
  text-align: center;
  margin-top: auto;
  bottom: 0;
  width: 100%;
  background-color:#1e8a9d;
}

